/*
 *  Custom styles
 */
body {
  background-color: #f7f7f7;
}
.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #fff;
    opacity: .2;
}

.jumbotron {
  background: url(img/bg-pic.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-heading {
  padding-top:139px;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

.bid-button {
  width: 100%;
  vertical-align: bottom;
}

.card-hght {
  height: 381px;
}

.courgette {
  font-family: 'Courgette',cursive;
  font-weight: bold;
}

#flashMessage {
    color: white;
    background-color: #64ce83;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: calc(100% - 100px);
    margin-bottom: 40px;
}
/*
 *  Card scrollbar
 */
 .scrollable {
     height: 230px;
     overflow: hidden;
 }

 .scrollable:hover {
   overflow-y: auto;
 }

 .scrollable::-webkit-scrollbar-track
 {
 	border: 1px solid black;
 	background-color: #F5F5F5;
 }

 .scrollable::-webkit-scrollbar
 {
 	width: 10px;
 	background-color: #F5F5F5;
 }

 .scrollable::-webkit-scrollbar-thumb
 {
 	background-color: #000000;
 }

 /*
  *  Carousel
  */

  #items-carousel {
    height: 50%;
    width:75%;
  }

  .carousel-indicators li {
    background-color:black;
  }

  .carousel-indicators .active {
      background-color:grey;
  }

  /* Media */

  @media(max-width: 1200px) {
    .display-3 {
      font-size: 60px
    }
    .lead {
      font-size: 18px;
    }
  }

  @media(max-width: 1000px) {
    .display-3 {
      font-size: 40px;
    }
    .lead {
      font-size: 12px;
    }
  }

  @media(max-width: 770px) {
    .display-3 {
      font-size: 28px;
    }
    .lead {
      font-size: 10px;
    }
  }

  @media(max-width: 410px) {
    .display-3 {
      font-size: 20px;
    }

  }
