.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #fff;
    opacity: .2;
}

.jumbotron {
  background-image: url(img/online-store.png);
  background-size:cover;
}

.custom-heading {
  padding-top:139px;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

.bid-button {
  width: 100%;
  
}

.card-hght {
  height: 381px;
}
