/*
 *  Custom styles
 */
body {
  background-color: #f7f7f7;
}
.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #fff;
    opacity: .2;
}

.jumbotron {
  background-image: url(img/online-store.png);
  background-size:cover;
}

.custom-heading {
  padding-top:139px;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

.bid-button {
  width: 100%;
  vertical-align: bottom;
}

.card-hght {
  height: 381px;
}

/*
 *  Card scrollbar
 */
 .scrollable {
     height: 230px;
     overflow: hidden;;
 }

 .scrollable:hover {
   overflow-y: auto;
 }

 .scrollable::-webkit-scrollbar-track
 {
 	border: 1px solid black;
 	background-color: #F5F5F5;
 }

 .scrollable::-webkit-scrollbar
 {
 	width: 10px;
 	background-color: #F5F5F5;
 }

 .scrollable::-webkit-scrollbar-thumb
 {
 	background-color: #000000;
 }

 /*
  *  Carusel
  */

  #items-carousel {
    height: 300px;
    width:500px;
  }

  .carousel-indicators li {
    background-color:black;
  }

  .carousel-indicators .active {
      background-color:grey;
  }
